body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 40px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
h1, h2 {
    color: navy;
}

img {
    width: 200px;
}

input[type="submit"] {
    background-color: navy;
    color: white;
}
.feedback {
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
}